<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper" style="height: 100%;">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" [ngClass]="{ 'collapse': isCollapsed }" id="accordionSidebar" style="height: 100%;">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/">
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
          </div>
          <div class="sidebar-brand-text mx-3">SurveyApp</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
          <a class="nav-link" routerLink="/dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
          Interface
        </div>


        <!-- Nav Item - Charts -->
        <li class="nav-item">
          <a class="nav-link" routerLink="survey">
            <span>{{ 'sidebar.survey' | translate }}</span>
          </a>
        </li>

        <!--<li class="nav-item">
          <a class="nav-link" routerLink="question">
            <span>{{ 'sidebar.question' | translate }}</span>
          </a>
        </li>-->

        <li class="nav-item">
          <a class="nav-link" routerLink="respondent">
            <span>{{ 'sidebar.respondent' | translate }}</span>
          </a>
        </li>

       <li class="nav-item">
        <a class="nav-link" routerLink="users-all">
          <span>{{ 'sidebar.users' | translate }}</span>
        </a>
      </li>

      <!-- Nav Item - Tables -->


        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <!-- <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div> -->

      </ul>
    </div>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" (click)="toggleNavbar()" class="btn btn-link rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>


          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Messages -->

            <!-- <div class="topbar-divider d-none d-sm-block"></div> -->

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-lg-inline text-gray-600 small">{{data?.email}}</span>
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" routerLink="/user">
                  <i class="fa fa-user"></i>
                  Profile
                </a>
                <a class="dropdown-item" routerLink="/register-user">
                  <i class="fa fa-user-plus"></i>
                  Register User
                </a>
                <div>
                  <ng-select id="parent" [items]="languageList" [(ngModel)]="selectedLanguage"  bindLabel="name" bindValue="id"
                    placeholder="{{ 'navbar.selectLanguage' | translate }}" (change)="getLanguage($event)">
                  </ng-select>
                </div>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" (click)="logout()" data-target="#logoutModal">
                  <i class="fa fa-sign-out"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <!-- <div class="container-fluid">
          <div class="row"> -->
            <router-outlet></router-outlet>
          <!-- </div>
        </div> -->
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Survey App 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript-->
  <!-- <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->

  <!-- Core plugin JavaScript-->
  <!-- <script src="vendor/jquery-easing/jquery.easing.min.js"></script> -->

  <!-- Custom scripts for all pages-->
  <!-- <script src="js/sb-admin-2.min.js"></script> -->

  <!-- Page level plugins -->
  <!-- <script src="vendor/chart.js/Chart.min.js"></script> -->

  <!-- Page level custom scripts -->
  <!-- <script src="js/demo/chart-area-demo.js"></script> -->
  <!-- <script src="js/demo/chart-pie-demo.js"></script> -->

</body>
